Met dit project willen wij de brandende vraag beantwoorden of Ajax inderdaad bestaat uit mooiweervoetballers. Hiervoor is gekeken naar de eredivisie uitslagen vanaf seizoen 2008-2009 tot 2018-2019. De data is afkomstig van www.koningvoetbal.nl. De weerdata is afkomstig van http://projects.knmi.nl/klimatologie/daggegevens/selectie.cgi 
Als afhankelijke variabelen gaan we kijken naar het resultaat (winst, gelijk, verlies), het aantal doelpunten voor/tegen en het doelsaldo. Als voorspellers gaan we kijken naar o.a. temperatuur, neerslag en zonuren.

In [2]:
#importeren libraries

import numpy as np 
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [14]:
# importeren dataset Ajax scores (lokaal opgesglagen). 
df = pd.read_excel("mooiweervoetballers koningvoetbal.xlsx", index_col=None, header=None)

In [15]:
# columnames toevoegen
df.columns = ["Speeldag","Datum","Teams","Uitslag"]

In [16]:
# structuur checken 1
df.head()

  Speeldag      Datum                    Teams Uitslag
0       Zo 2008-09-14           Ajax - Roda JC     1-0
1       Zo 2008-09-28           Ajax - Vitesse     3-0
2       Za 2008-10-18      Ajax - FC Groningen     1-0
3       Zo 2008-10-26               Ajax - NEC     2-0
4       Zo 2008-11-09  Ajax - Sparta Rotterdam     5-2

In [18]:
# structuur checken 2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 4 columns):
Speeldag    340 non-null object
Datum       340 non-null datetime64[ns]
Teams       340 non-null object
Uitslag     340 non-null object
dtypes: datetime64[ns](1), object(3)
memory usage: 10.7+ KB

In [21]:
# checken of er missings zijn 
df.sum().isna()

Speeldag    False
Teams       False
Uitslag     False
dtype: bool